.nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    position: sticky;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(5,5,60,1) 0%, rgba(9,9,121,1) 80%, rgba(5,5,60,1) 100%);
    box-shadow: 2px -2px 10px #dfdfdf;
    z-index: 1001;
}

.nav a {
    color: #e8e8e8;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 4px;
    transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.register{
    color: #e8e8e8;
    border: 2px solid #e8e8e8;
}

.nav a:hover {
    transform: scale(1);
    animation: reverseBounce 1s infinite;
    text-decoration: underline;
    text-underline-offset: 5px;
}

@keyframes reverseBounce{
    0%, 100%{ transform: scale(1); }
    50%{ transform: scale(1.1); }
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #e8e8e8;
}

@media (max-width: 980px) {
    /* Afficher le menu hamburger en mode tablette et mobile */
    .hamburger {
        font-size: 30px;
        display: flex;
        color: #e8e8e8;
        cursor: pointer;
        position: relative;
    }

    /* Masquer les liens de navigation en mode tablette et mobile */
    .nav a {
        display: none;
    }

    .nav img {
        display: none;
    }

    .nav.active img {
        display: block;
    }


    .nav.active{
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        left: 0;
        gap: 2em;
        width: 100%;
        height: 100vh;
        background-color: #111;
        transition: all 0.3s ease-in;
        animation: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
        z-index: 101;
    }
    .nav.active > .hamburger{
        display: none;
    }
    .nav.active a {
        font-size: 1.4em;
        color: #e8e8e8;
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 10px;
    }
}
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px; /* Taille de l'icône de fermeture */
    color: #e8e8e8; /* Couleur de l'icône de fermeture */
    display: none; /* Masqué par défaut */
}

.nav.active .close-btn {
    display: block; /* Afficher le bouton de fermeture lorsque le menu est actif */
}