body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8f8f7;
    margin: 0 10%;
}

.cv-header {
    text-align: center;
    margin-bottom: 30px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.cv-body {
    display: flex;
    justify-content: space-between;
}

.timeline {
    width: 70%;
}

.timeline-item {
    border-left: 2px solid #007aff;
    margin-left: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.sidebar {
    width: 25%;
    margin-left: 5%;
}

.skills-section, .hobbies-section {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.skills-section ul, .hobbies-section ul {
    list-style-type: none;
    padding: 0;
}

.skills-section li, .hobbies-section li {
    margin-bottom: 10px;
}

h1, h2, h3 {
    margin-top: 0;
}
